services:
  ermiana:
    image: ghcr.io/canaria3406/ermiana:master
    container_name: ermiana
    environment:
      # Discord Bot Token
      - DCTK=YOUR_DISCORD_BOT_TOKEN_HERE
      # Discord Bot Application ID
      - DCID=YOUR_DISCORD_CLIENT_ID_HERE
      # Discord Private Webhook URL
      - DCWH=YOUR_DISCORD_WEBHOOK_URL_HERE
      # 巴哈帳號
      - BHUD=YOUR_BAHA_USERNAME_HERE
      # 巴哈密碼
      - BHPD=YOUR_BAHA_PASSWORD_HERE
      # 時區
      - TZ=Asia/Taipei
    restart: always
